@import "../../../assets/mixins";

.heyThereContainer {
  display: flex;
  justify-content: center;
  padding: 60px 20px;
  position: relative;
  font-family: AddingtonLight, "Times New Roman", serif;

  @media screen and (max-width: 991px) {
    padding: 130px 20px;
  }
}

.heyThereContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 960px;

  .heyThereCopy {
    @media screen and (min-width: 991px) {
      grid-column: 2/-1;
    }
  }

  .heyThereSignature {
    color: #9b7963;
    font-family: LaLuxe, serif;
    font-size: 40px;
    line-height: .8em;

    span {
      font-family: Addington, serif;
      font-size: 20px;
    }
  }

  img {
    max-height: 450px;
  }

  p {
    font-family: AddingtonLight, serif;
    font-size: 20px;
    margin-bottom: 32px;
  }

  h2 {
    font-family: AddingtonLight, serif;
  }

  @media screen and (max-width: 991px) {
    grid-template-columns: 1fr;

    img {
      margin-bottom: 30px;
      max-width: 100%;
    }
  }
}

.image {
  @media screen and (max-width: 991px) {
    text-align: center;
    margin-bottom: 30px;
  }
}

.secondServiceGraphic {
  position: absolute;
  height: 100%;
  right: 0;
  bottom: 0;
  width: 100%;

  img {
    height: 100%;
    position: absolute;
    right: 0;
  }

  @media screen and (max-width: 991px) {
    max-height: 150px;
    max-width: 186px;
    right: -12px;
  }
}

@include imageContainer;


