@import "../../../assets/mixins";

.heyThereContainer {
  display: flex;
  justify-content: center;
  padding: 60px 20px;
  position: relative;
}

.heyThereContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 960px;

  .heyThereSignature {
    color: #9b7963;
    font-family: LaLuxe, serif;
    font-size: 40px;
    line-height: .8em;

    span {
      font-family: Addington, serif;
      font-size: 20px;
    }
  }

  img {
    max-height: 450px;
  }

  p {
    font-family: Articulat, Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 32px;
  }

  h2 {
    font-family: AddingtonLight, serif;
  }

  @media screen and (max-width: 991px) {
    flex-flow: column;

    img {
      margin-bottom: 30px;
      max-width: 100%;
    }
  }
}

@include imageContainer;


