.formContainer {
  > div {
    display: flex;

    p {
      display: flex;
      flex-flow: column;
    }

    @media screen and (max-width: 550px) {
      flex-flow: column;
    }
  }
}

.formColumn {
  width: 50%;

  @media screen and (min-width: 551px) {
    &:last-child {
      padding-left: 20px;
    }
  }

  @media screen and (max-width: 550px) {
    width: 100%;
  }
}
