.formContainer {
  > div {
    display: flex;

    p {
      display: flex;
      flex-flow: column;
    }

    @media screen and (max-width: 550px) {
      flex-flow: column;
    }
  }
}

.formColumn {
  width: 50%;

  @media screen and (min-width: 551px) {
    &:last-child {
      padding-left: 20px;
    }
  }

  @media screen and (max-width: 550px) {
    width: 100%;
  }
}

.contactBtn {
  background-color: #9a7a63;
  border-radius: 25px;
  max-width: 225px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
  background-color: #ce986f;
}
}
