.section {
  max-width: 960px;
  margin: auto;
  padding: 60px 20px;
}

.flexSection {
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {color: #9a755b;}

  > * {padding: 30px;}
}

.strategySection {
  h2 {
    color: #a1795f;
    margin-bottom: 60px;
    text-align: center;
  }

  p {
    column-count: 2;
    column-gap: 50px;
  }
}

.imageBreak {
  display: grid;
  height: 20vw;
  grid-template-columns: repeat(3, 1fr);

  div {
    background-size: cover;
    background-position: center;
  }
}
