.gridContainer {
  background-color: #20201d;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 40px 0;

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 550px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.gridItem {
  display: flex;
  font-family: Addington, serif;
  font-size: 36px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-transform: uppercase;
  text-align: center;

  a {
    text-decoration: none;
    color: #9b7963;
    transition: color 0.24s ease-in-out;

    &:hover {
      color: #d7aa8e;
    }
  }

  @media screen and (max-width: 768px) {
    font-size: 30px;
  }
}
