.heroContainer {
  align-items: center;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
  font-family: AddingtonLight, "Times New Roman", serif;

  &:after {
    background-color: rgba(#41504c, 0.75);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
  }

  h1 {
    font-size: 72px;
  }

  @media screen and (max-width: 767px) {
    padding: 0 20px;

    h1 {
      font-size: 54px;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  background-color: rgba(65, 80, 76, 0.75);
  min-width: 100%;
}

.heroLogo {
  max-width: 100%;
  position: relative;
  z-index: 2;
}

.heroLogoContainer {
  padding: 160px 20px;
}
