.heroContainer {
  align-items: center;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
  font-family: AddingtonLight, "Times New Roman", serif;

  &:after {
    background-color: rgba(#41504c, 0.75);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

.heroLogo {
  max-width: 100%;
  position: relative;
  z-index: 2;
}

.heroLogoContainer {
  padding: 160px 20px;
}
