.navList {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  @media screen and (max-width: 767px) {
    justify-content: center;

    li {
      padding-bottom: 42px;
    }

    a {
      font-size: 28px;
    }
  }
}

.navListAnchor {
  color: #fff;
  font-family: AddingtonLight, "Times New Roman", serif;
  text-decoration: none;
  text-transform: uppercase;
}
