@import "../../../assets/mixins";

.signatureContainer {
  align-items: center;
  display: flex;
  padding: 20px;

  p {
    color: #664b2b;
    font-family: LaLuxe, sans-serif;
    font-size: 40px;
    margin: 0;
  }
}

.signatureLine {
  flex: 1;
  border: 1px solid #664b2b;
  background: #664b2b;
  margin-right: 20px;
}

.testimonialContainer {
  font-family: Articulat, Arial, sans-serif;
  font-size: 20px;
  margin: auto;
  max-width: 670px;
  text-align: center;
}

.whatTheySayContainer {
  padding: 60px 20px;
  position: relative;

  h2 {
    font-family: AddingtonLight, serif;
  }

  @media screen and (max-width: 991px) {
    padding: 130px 20px;
  }
}

@include imageContainer;
