@import "../../../assets/mixins";

.signatureAndTitle {
  line-height: 1em;
  max-width: 235px;
  text-align: left;
}

.signatureContainer {
  align-items: center;
  display: flex;
  padding: 20px;

  p {
    color: #664b2b;
    font-family: LaLuxe, sans-serif;
    font-size: 40px;
    margin: 0;
  }

  span {
    font-family: AddingtonLight, serif;
    font-size: 16px;
    margin-top: 16px;
  }
}

.signatureLine {
  flex: 1;
  border: 1px solid #664b2b;
  background: #664b2b;
  margin-right: 20px;
}

.testimonialContainer {
  font-family: AddingtonLight, "Times New Roman", serif;
  font-size: 20px;
  margin: auto;
  max-width: 670px;
  text-align: center;
}

.whatTheySayContainer {
  padding: 60px 20px;
  position: relative;
  font-family: AddingtonLight, "Times New Roman", serif;

  h2 {
    font-family: AddingtonLight, serif;
  }

  @media screen and (max-width: 991px) {
    padding: 130px 20px;
  }

  .bottomImage {
    bottom: 0;
    position: absolute;
  }
}

.firstServiceGraphic {
    position: absolute;
    height: 100%;
    max-height: 150px;
    max-width: 150px;
    left: 0;
    top: 0;
    width: 100%;

    img {
      height: 100%;
      position: absolute;
      width: 100%;
    }
}

@include imageContainer;
