.header {
  color: #fff;
  position: relative;
  width: 100%;
  z-index: 3;

  @media screen and (max-width: 767px) {
    left: 0;
    position: fixed;
    top: 0;
  }
}

.headerLogo {
  left: 24px;
  max-width: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  @media screen and (max-width: 767px) {
    left: 0;
    top: 0;
    transform: translateY(0);
  }
}
