.getOnTheListContainer {
  display: flex;
  margin: auto;
  max-width: 1186px;
  padding: 60px 20px;

  p {
    font-family: AddingtonLight, "Times New Roman", serif;
    font-size: 20px;
  }

  h2 {
    font-family: AddingtonLight, serif;
  }

  @media screen and (max-width: 991px) {
    flex-flow: column;
  }
}

.imageContainer {
  align-items: center;
  display: flex;
  margin-right: 32px;
  max-height: 100%;

  img {
    max-height: 350px;
  }

  @media screen and (max-width: 991px) {
    flex-flow: column;
    margin-bottom: 30px;
    margin-right: 0;

    img {
      max-width: 100%;
    }
  }
}
